[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
aiohttp = "*"
ipython = "*"
pyyaml = "*"
sqlalchemy = "*"
aiopg = {version = "*", extras = ["sa"]}
"psycopg2-binary" = "*"
"aiohttp-jinja2" = "*"

[requires]
python_version = "3.6"
